In [90]:
import requests
import pandas as pd

## Pull in data from an API.
- using fakerapi to generate fake data of a product for illustration puroposes

In [91]:
url = 'https://fakerapi.it/api/v1/products?_price_min=9.99&_price_max=10000.00&_quantity=15&_taxes=6'
response = requests.get(url)
print(response.status_code)

200

In [92]:
data = response.json()['data']
df = pd.DataFrame(data=data)

In [93]:
df.head()

,id,name,description,ean,upc,image,images,net_price,taxes,price,categories,tags
0,1,Rem eaque ullam itaque.,Quas sit eligendi nobis aut optio. At est veri...,8128201015615,454083736649,http://placeimg.com/640/480/tech,"[{'title': 'Ut at vel temporibus ducimus.', 'd...",5554.87,6,5888.16,"[8, 9, 1]","[dolore, natus, et, sint, est, possimus, verit..."
1,2,Eum et corrupti quos.,Quia sed beatae ut. Impedit dolor veritatis ip...,5821533640588,009581255878,http://placeimg.com/640/480/tech,"[{'title': 'Quae ea dolor optio quisquam.', 'd...",1872.51,6,1984.86,"[2, 6, 7, 3, 8]",[perferendis]
2,3,Id nostrum vitae enim.,Dolore et tempore sunt non voluptatem eos sint...,1280217857188,091876648056,http://placeimg.com/640/480/tech,"[{'title': 'Ea ut itaque maiores.', 'descripti...",8777.88,6,9304.55,"[1, 5, 6]","[aperiam, nulla, et, et]"
3,4,Facilis fuga qui ex et saepe.,Omnis quibusdam veritatis excepturi illo nobis...,0635799408975,697593232502,http://placeimg.com/640/480/tech,"[{'title': 'A dolores nulla magnam ut.', 'desc...",7686.53,6,8147.72,[2],"[repellendus, et, sed]"
4,5,Aperiam quibusdam vel odit.,Hic numquam sunt nam sunt autem sed. Eveniet p...,4923162988824,856083867389,http://placeimg.com/640/480/tech,"[{'title': 'Vero sint quasi ut et.', 'descript...",7557.46,6,8010.91,"[2, 9]","[veritatis, laudantium, sit, pariatur, dolorum]"

## Find and print TWO descriptive statistics about your data
- dtypes
- .mean()
- .describe()

had to convert 'price' column to a numeric value for comparison operation

In [94]:
df.dtypes

id               int64
name            object
description     object
ean             object
upc             object
image           object
images          object
net_price      float64
taxes           object
price           object
categories      object
tags            object
dtype: object

In [95]:
df['price'] = pd.to_numeric(df['price'])

In [96]:
df.dtypes

id               int64
name            object
description     object
ean             object
upc             object
image           object
images          object
net_price      float64
taxes           object
price          float64
categories      object
tags            object
dtype: object

In [97]:
df['net_price'].mean()

4792.717333333333

In [98]:
df['price'].describe()

count       15.000000
mean      5080.280667
std       3161.108531
min        406.110000
25%       2846.505000
50%       4711.340000
75%       8079.315000
max      10564.020000
Name: price, dtype: float64

## Use of a mask to select a particular set of the data

In [101]:
df[df['price'] > 10000]

,id,name,description,ean,upc,image,images,net_price,taxes,price,categories,tags
11,12,Vel qui labore aut quod.,Itaque reprehenderit eius doloribus enim occae...,6042144489611,268414785185,http://placeimg.com/640/480/tech,"[{'title': 'Perspiciatis quae est est in.', 'd...",9966.06,6,10564.02,"[2, 9, 7, 5, 4, 6, 1, 8]","[quia, dolores, quibusdam, veniam, inventore, ..."

## Select and print the SECOND AND THIRD columns of your data frame.

In [104]:
selected_columns = df.iloc[:, 1:3]
selected_columns

,name,description
0,Rem eaque ullam itaque.,Quas sit eligendi nobis aut optio. At est veri...
1,Eum et corrupti quos.,Quia sed beatae ut. Impedit dolor veritatis ip...
2,Id nostrum vitae enim.,Dolore et tempore sunt non voluptatem eos sint...
3,Facilis fuga qui ex et saepe.,Omnis quibusdam veritatis excepturi illo nobis...
4,Aperiam quibusdam vel odit.,Hic numquam sunt nam sunt autem sed. Eveniet p...
5,Et eum vitae in eveniet.,Commodi qui ut accusamus cumque. Dolorem quas ...
6,Sed quod distinctio totam ut.,At minus quos aspernatur debitis corporis illu...
7,Perferendis a nemo ut.,Ullam praesentium ut dolores magni quia. Et es...
8,Facilis aut et nobis dolorem.,Voluptate quia laboriosam sit provident. Commo...
9,Magni vel quasi velit nihil.,Eligendi et sed repellendus rem. Voluptatem sa...
10,In ut non enim.,Deleniti ducimus sapiente possimus dolore. Con...
11,Vel qui labore aut quod.,Itaque reprehenderit eius doloribus enim occae...
12,Sequi harum ut laudantium.,Qui consequatur voluptas molestiae sunt deseru...
13,Velit ut qui minus.,Vel repellat sit eaque explicabo. Est aspernat...
14,Rem sit ullam vel provident.,Ut ab ducimus eum. Omnis numquam quia eius cul...

## Select and print the FIRST 4 rows of you data frame.

In [105]:
selected_rows = df.head(4)
selected_rows

,id,name,description,ean,upc,image,images,net_price,taxes,price,categories,tags
0,1,Rem eaque ullam itaque.,Quas sit eligendi nobis aut optio. At est veri...,8128201015615,454083736649,http://placeimg.com/640/480/tech,"[{'title': 'Ut at vel temporibus ducimus.', 'd...",5554.87,6,5888.16,"[8, 9, 1]","[dolore, natus, et, sint, est, possimus, verit..."
1,2,Eum et corrupti quos.,Quia sed beatae ut. Impedit dolor veritatis ip...,5821533640588,009581255878,http://placeimg.com/640/480/tech,"[{'title': 'Quae ea dolor optio quisquam.', 'd...",1872.51,6,1984.86,"[2, 6, 7, 3, 8]",[perferendis]
2,3,Id nostrum vitae enim.,Dolore et tempore sunt non voluptatem eos sint...,1280217857188,091876648056,http://placeimg.com/640/480/tech,"[{'title': 'Ea ut itaque maiores.', 'descripti...",8777.88,6,9304.55,"[1, 5, 6]","[aperiam, nulla, et, et]"
3,4,Facilis fuga qui ex et saepe.,Omnis quibusdam veritatis excepturi illo nobis...,0635799408975,697593232502,http://placeimg.com/640/480/tech,"[{'title': 'A dolores nulla magnam ut.', 'desc...",7686.53,6,8147.72,[2],"[repellendus, et, sed]"